<div *ngIf="company" class="company-detail">
    <div class="company-header">
      <h2>{{ company.name }}</h2>
      <p class="location">{{ company.city }} - {{ company.address }}</p>
    </div>
    
    <div class="company-description">
      <p>{{ company.description }}</p>
    </div>
  
    <div class="vacancies-section">
      <h3>Open Positions</h3>
      <app-vacancy-form 
        [companyId]="company.id" 
        (vacancyCreated)="onVacancyCreated()">
      </app-vacancy-form>
      
      <div class="vacancies-list">
        <div *ngFor="let vacancy of vacancies" class="vacancy-card">
          <h4>{{ vacancy.name }}</h4>
          <p class="salary">${{ vacancy.salary | number }}</p>
          <p>{{ vacancy.description }}</p>
        </div>
      </div>
    </div>
  </div>